/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10rem;
}

.cabecalho h1 {
    color: #35AD25;
    text-shadow: -2px 2px 4px rgba(26, 111, 11, 0.264);
}

/* Estilos para a seção de busca de vagas */
#busca-vagas {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: column;
}

#busca-vagas input[type="text"],
#busca-vagas button,
#busca-vagas select {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#busca-vagas button:hover {
    cursor: pointer;
}

#busca-vagas input[type="text"] {
    width: 50vw;
}

#busca-vagas label {
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos para a seção de vagas */
#vagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

article {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
}

article h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article p {
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}

article button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    article {
        width: 100%;
    }
}
