/* SEÇÃO CONTATO */

#contact {
    display: flex;
    justify-content: center;
}

#contact button {
    background-color: #55da48;
    border-radius: 6px;
    width: 30%;
    align-self: center;
}

#contact button:hover {
    background-color: white;
    color:black;
}

#contact-area {
    display: flex;
    flex-direction: column;  
    width: 100%; 
    align-items: center;
}

form  {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;    
}

/* FIM SEÇÃO CONTATO */





